.second-banner-image:hover img{
  scale: 1.1;
}
.second-banner-image img{
 transition: all .5s ease; 
}
.second-banner-with-text{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.second-image-with-text-banner-section-wrapper {
  margin: 0px -15px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.second-banner-with-text .theme_main_subheading{
  padding: 0px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.second-banner-with-text .offer_subheading{
   margin: 0px !important;
}
.second-banner-with-text .theme_main_heading{
  font-size: 30px;
  line-height: 34px;
}
.second-banner-with-text span{
  display: inline-block;
}
.second-center-video-banner {
  position: relative;
}
.second-video-banner-section .deferred-media__poster-button {
  border: 0.1rem solid rgba(var(--color-foreground),.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.2rem;
  width: 6.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
  transition: transform var(--duration-short) ease,color var(--duration-short) ease;
  z-index: 1;
}
.second-center-video-banner .video-section__media {
  padding-bottom: 133.65%;
}
.second-banner-image {
  position: relative;
  overflow: hidden;
}
.second-image-with-text-banner-section-wrapper .second-banner_btn_t {
  margin-top: 25px;
}
.second-banner-text {
  position: absolute;
  width: 100%;
  max-width: 40%;
  z-index: 2;
}
.second-banner-block--top-left,
.second-banner-block--top-center,
.second-banner-block--top-right{
  transform: translateY(0);
  top: 30px;
}
.second-banner-block--top-left,
.second-banner-block--middle-left,
.second-banner-block--bottom-left { 
  left: 30px;
  right: auto;
  margin: 0 auto;
}
.second-banner-block--top-center,
.second-banner-block--middle-center,
.second-banner-block--bottom-center { 
  left: 0;
  right: 0;
  margin: 0 auto;
}
.second-banner-block--top-right,
.second-banner-block--middle-right,
.second-banner-block--bottom-right {
  left: auto;
  right: 30px;
  margin: 0;
}
.second-banner-block--middle-center,
.second-banner-block--middle-right,
.second-banner-block--middle-left {
  top: 50%;
  transform: translateY(-50%);
}
.second-banner-block--bottom-center, 
.second-banner-block--bottom-right,
.second-banner-block--bottom-left {
  bottom: 30px;
}
.second-banner-text--left {
   text-align: left;
}
.second-banner-text--center {
   text-align: center;
}
.second-banner-text--right {
  text-align: right;
}
.second-image-with-text-banner-section .second-banner-text h2 {
  font-size: 38px;
  line-height: 1.2 !important;
  text-transform: var(--text_style);
}
.second-banner-image .media{
  border-radius: var(--radius_img);
}
@media screen and (max-width: 1429px) {
  .second-banner-block--top-left,
  .second-banner-block--middle-left,
  .second-banner-block--bottom-left {
    left: 15px;
  }
  .second-banner-block--top-right,
  .second-banner-block--middle-right,
  .second-banner-block--bottom-right {
    right: 15px;
  }
  .second-banner-block--top-left,
  .second-banner-block--top-center,
  .second-banner-block--top-right{
    top: 15px;
  }
  .second-banner-block--bottom-center, 
  .second-banner-block--bottom-right,
  .second-banner-block--bottom-left {
    bottom: 15px;
  }
}
@media screen and (max-width: 1366px) {
  .second-banner-with-text .theme_main_heading {
    font-size: 24px;
    line-height: 30px;
  }
  .second-image-with-text-banner-section .lg-col-1{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .second-image-with-text-banner-section .lg-col-2{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .second-image-with-text-banner-section .lg-col-3{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media screen and (max-width: 1299px) {
  .second-banner-with-text .theme_main_subheading{
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .second-image-with-text-banner-section .second-banner-text h2 {
    font-size: 28px;
  }
  .second-banner-with-text .theme_main_heading {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 1099px) {
  .second-banner-with-text .theme_main_subheading {
    margin-bottom: 8px;
  }
  .second-image-with-text-banner-section-wrapper .second-banner_btn_t {
    margin-top: 20px;
  }
  .second-banner-text {
    max-width: 80%;
  }
  .second-image-with-text-banner-section .lg-col-1{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .second-image-with-text-banner-section .lg-col-2{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .second-image-with-text-banner-section .lg-col-3{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .second-image-with-text-banner-section .lg-col-4{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .second-image-with-text-banner-section .lg-col-5{
    flex: 0 0 50%;
    max-width: 50%;
  } 
}
@media screen and (max-width: 680px) {
  .second-image-with-text-banner-section-wrapper .second-banner_btn_t {
    margin-top: 12px;
  }
  .second-banner-with-text .theme_main_heading {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .second-image-with-text-banner-section .lg-col-1{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .second-image-with-text-banner-section .lg-col-2{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .second-image-with-text-banner-section .lg-col-3{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .second-image-with-text-banner-section .lg-col-4{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .second-image-with-text-banner-section .lg-col-5{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .second-image-with-text-banner-section .lg-col-6{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .second-image-with-text-banner-section-wrapper{
    row-gap: 15px;
  }
  .second-image-with-text-banner-section .second-video-banner-section {
     margin: 15px 0px;
  }
  .second-image-with-text-banner-section .second-banner-text h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 479px) {
  .second-banner-with-text .offer_text{
    margin-top: 3px;
  }
  .second-banner-with-text .main_subhedaing {
    display: none;
  }
  .second-banner-text {
    max-width: 40%;
  }
}