.pagination-wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 991px) {
  .pagination__item {
    width: 30px !important;
    height: 30px !important;
  }
}
.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination__list > li {
  flex: 0;
  max-width: 100%;
}

.pagination__list li a, 
.pagination__list li .pagination__item--current {
  padding: 5px 12px;
}
.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  text-decoration: none;
  border-radius: var(--buttons-radius);
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
