.list-social {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
  transition: all 0.5s ease;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 11px;
  column-gap: 5px;
  color: rgb(var(--color-foreground));
  transition: all 0.5s ease;
  border-radius: var(--buttons-radius);
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
