.collection-list__item .card .media a {
  border-radius: var(--radius_img);
}
.collection-card-wrapper{
  overflow: hidden;
}
.product-collection-top-banner {
  line-height: 0;
  padding-bottom: 40px;
}
.collection-list .card__information{
  text-align: center;
}
.collection-list__item .card__heading.h3 {
  text-transform: var(--text_style);
}
.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}
.product-collection-top-banner .media{
  border-radius: var(--radius_img);
}
.collection-list-title {
  margin: 0;
}
.collection-list .card__inner{
  --ratio-percent: 85% !important;
}
.collection-list__item{
  border-radius: var(--radius_img);
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .product-collection-top-banner{
     padding-bottom: 35px;
  }
}
@media screen and (max-width: 840px) {
  .product-collection-top-banner{
     padding-bottom: 30px;
  }
}
@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .product-collection-top-banner{
     padding-bottom: 25px;
  }
}
@media screen and (max-width: 575px) {
  .product-collection-top-banner{
     padding-bottom: 15px;
  }
}
@media screen and (max-width: 479px) {
.collection-list .collection-list__item.grid__item {
    width: 100%;
    max-width: 100%; 
}
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
