<div class="container">
  <ngx-element class="parts-pal" selector="browse-core"></ngx-element> 
  <ngx-element class="parts-pal" selector="browse-vehicle-definition-selector"></ngx-element>
  <ngx-element class="parts-pal" selector="collections-page-content"></ngx-element>
</div>  