<div class="page-content-wrapper sm-top">
  <div class="contact-page-content">
    {%- section 'contact-template' -%}
    {%- section 'contact-information' -%}
    {%- section 'contact-form' -%}
    {%- section 'contact-map' -%}
  </div>
</div>
