<div class="page-content-wrapper sm-top">
  {%- section 'about-template' -%}
  {%- section 'about-info' -%}
  {%- section 'call-to-action' -%}
  {%- section 'subscribe' -%}
  {%- section 'brand' -%}
  {%- section 'support' -%}
</div>
